
.dashboard-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
    background-color: aliceblue;
}

.sidebar {
    background: aliceblue;
    border-right: 2px solid var(--primary-blue);
    padding: 2rem;
}

.stat-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(0, 168, 255, 0.3);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 168, 255, 0.1);
}