*{
    color: #00a8ff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    background-color: #0b0e14;
}
.dashboard-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}



.stat-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(0, 168, 255, 0.3);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 168, 255, 0.1);
}

.sidebar {
    width: 120px;
    border-right: 2px solid #00a8ff;
    z-index: 1000;
    padding: 2rem;
}

.sidebar button{
    letter-spacing: 2px;
    position: relative;
    font-size: 20px;
    margin-top: 1rem;
    background-color: #0b0e14;
    color: #00a8ff;
    border-color: #00a8ff;
    border-radius: 10px;   
    transition: all 0.4s ease;
    cursor: pointer;
    font-weight: bold;
}
.sidebar button:hover{
    color: #0b0e14;
    background-color: #00a8ff;
    box-shadow: 0 0 10px 5px #00a8ff;
}